<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%- render 'header-scripts.zipifypages', renderctx: 'lsctn' -%}

    {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
            {{ content_for_header }}
    {%- else -%}
            {% capture content_for_header2 %}{{ content_for_header }}{% endcapture %}
            {{ content_for_header2 | replace: ' defer="defer" ', ' type="lazyload_js" ' | replace: " src=", " data-src="| replace: "DOMContentLoaded", "appco-DOMContentLoaded" | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('appco-DOMContentLoaded', asyncLoad, false);" | replace: "addEventListener('load', prefetchAssets);", "addEventListener('appco-DOMContentLoaded', prefetchAssets);" }}
            <script>var trekkie=[];trekkie.integrations=!0;window.BOOMR={},window.BOOMR.version=true;</script>
    {%- endif -%}
  </head>
  <body>
    {{ content_for_layout }}
    {%- render 'page-footer.zipifypages', renderctx: 'lsctn' -%}
  </body>
</html>